:concurrency: 5
:timeout: 60
:verbose: true
:queues:
  - critical
  - default
  - mailers
  - active_storage_analysis
  - active_storage_purge
:scheduler:
  :schedule:
    abandoned_cart_handler_job:
      cron: "*/30 * * * *"
      class: "AbandonedCartHandlerJob"
